<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Metrixlab"> <!-- parallel="tests" thread-count="5" -->
    <listeners>
        <listener class-name="com.ml.api.metrixapi.Listeners"/>
    </listeners>
    <test thread-count="2" name="metrixapi.swaggerdev" preserve-order="true"> <!-- preserve-order="false" -->
           <classes>
            <class name="com.ml.api.metrixapi.SwaggerDev">
                <methods>
                     <include name="happyCase"/>
                    <include name="edgeCase"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>